/* style.css */
body {
    background-color: slategrey;
    padding: 0;
    margin: 0;
}

.container-my-name {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.my-name {
    font-size: 40px;
    color: beige;
    text-align: center;
    border: solid gainsboro;
    padding: 20px;
}

.container-about-me {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0em 5em 0em 5em;
}

.about-me-intro {
    text-align: center;
}

.container-my-interests {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0em 5em 0em 5em;
    padding: 0px 0px 20px 0px;
}

.my-interests-intro {
    text-align: center;
}

.container-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: silver;
    padding-bottom: 60px;
}

.project-image {
    padding: 5em;
}
